:root {
  --node-graph-background: #232323;
  --node-graph-line-primary: #191919;
  --node-graph-line-secondary: #292929;
}

//编辑器主体
.node-graph-editor {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--node-graph-background);

  > canvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.node-graph-continer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  width: 10000%;
  height: 10000%;
  transform-origin: left top;
  pointer-events: none;

  > * {
    pointer-events: all;
  }
}
//加载中 错误
.node-graph-loading, .node-graph-error {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  background-color: var(--mx-editor-background-white-half-color);
  color: var(--mx-editor-background-blue-color);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//调整缩放工具
.node-graph-editorzoom-tool {

  position: absolute;
  width: 90px;
  height: 26px;
  right: 40px;
  bottom: 25px;
  border-radius: 15px;
  background-color: var(--mx-editor-background-second-color);
  opacity: 0.4;
  transition: opacity ease-in-out 0.2s;
  text-align: center;
  z-index: 20;

  &:hover, &:active {
    outline: none;
    opacity: 1;
  }

  .button {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(-mx-editor-text-color);
    padding: 0;
    font-size: 16px;
    top: 1px;
    line-height: 24px;
    border-radius: 50%;
    cursor: pointer;

    svg {
      fill: currentColor;
    }

    &.left { left: 1px; }
    &.right { right: 1px; }

    &:hover {
      svg {
        fill: currentColor;
      }
      color: var(--mx-editor-background-second-color);
      background-color: var(-mx-editor-text-color);
    }


  }
  select {
    position: absolute;
    opacity: 0;
    left: 28px;
    top: 4px;
    width: 35px;
    cursor: pointer;
    z-index: 2;
  }
  span {
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 15px;
    width: 35px;
    line-height: 15px;
    left: 28px;
    top: 6px;    
    font-size: 0.7rem;

    color: var(-mx-editor-text-color);
    cursor: pointer;
  }

}

@import '../Nana/Scss/Root.scss';
@import './Scss/Node.scss';
@import './Scss/CustomEditors.scss';
@import './Scss/Text.scss';
@import './Scss/Tooltip.scss';
@import './Scss/FloatPanel.scss';
@import './Scss/PropList.scss';
@import './Scss/Layout.scss';
@import './Scss/SmallWidgets.scss';

