$primary-color: rgb(206, 100, 255);
$primary-color-dark: rgb(189, 73, 243);

$tab-mormal-color: #161727;
$tab-active-color: #282c34;
$tab-border-color: #111216;
$tab-button-normal-color: #cccccc;
$tab-button-hover-color:  #7e7e7e;

$light-theme-tab-mormal-color: #e0e0e0;
$light-theme-tab-active-color: #fff;
$light-theme-tab-border-color: #d8d8d8;
$light-theme-tab-button-normal-color: #cccccc;
$light-theme-tab-button-hover-color:  #7e7e7e;

$tab-height: 35px;