@import './NodeIdeDefine.scss';

:root {
  --mx-editor-background-color: #1e1e1e;
  --mx-editor-background-second-color: #252526;
  --mx-editor-background-third-color: #2a2a2a;
  --mx-editor-background-four-color: #3c3c3c;
  --mx-editor-border-color: #3b3b3b;
  --mx-editor-border-color-dark: #111216;
  --mx-editor-shadow-color: rgba(0,0,0,0.8);

  --mx-editor-font-size: 13px;
  --mx-editor-font-size-small: 11.5px;

  --mx-editor-border-radius-small: 5px;

  --mx-editor-list-item-background-color: transparent;
  --mx-editor-list-item-hover-color: #414344;
  --mx-editor-clickable-background-color: rgba(104, 104, 104, 0.5);
  --mx-editor-clickable-hover-color: #fff;
  --mx-editor-clickable-disabled-color: rgba(75, 75, 75, 0.514);

  --mx-editor-text-color: #fff;
  --mx-editor-light-text-color:#d6d6d6;
  --mx-editor-active-text-color:#ffffff;
  --mx-editor-drak-text-color: #505050;
  --mx-editor-hover-text-color: #000;
  --mx-editor-yellow-text-color: #ffa600;
  --mx-editor-yellow-light-text-color: #eccc72;
  --mx-editor-red-text-color: #ff5200;
  --mx-editor-red-light-text-color: #fd7536;
  --mx-editor-green-text-color: #39c300;
  --mx-editor-green-light-text-color: #7ce64f;
  --mx-editor-blue-text-color: #307bdd;
  --mx-editor-blue-light-text-color: #74a4e4;
}

.node-menu-logo {
  width: 155px;
  height: 25px;
}
.node-fill-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.node-main-menu {
  --mx-menu-backgroud: #161727!important;

  padding: 4px 6px!important;
  font-size: 13px;
  background-color: var(--mx-menu-backgroud);

  .mx-menu-bar-item {
    color: #fff!important;

    &:hover {
      background-color: #757575!important;
      color: #e9e9e9!important;
    }
    &.active {
      background-color: #fff!important;
      color: #000!important;
    }
  }
}
.node-main-area {
  flex: 1;
  width: 100%;
  top: 32px;
  height: calc(100% - 32px);
}