.node-editor-centertip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-color: var(--mx-editor-shadow-color);
  border: 1px solid var(--mx-editor-text-color);
  color: var(--mx-editor-text-color);
  border-radius: 10px;
  z-index: 200;
  white-space: pre;
  font-size: 1rem;
  user-select: text;
  padding: 10px 18px;
}