:root {
  --nana-theme-color-primary: #0084ff;
  --nana-theme-color-primary-2: #2c99ff;
  --nana-theme-color-error: #eb2f00;
  --nana-theme-color-warning: #ec8600;
  --nana-theme-color-info: #006ed4;
  --nana-theme-color-success: #00bd29;

  --nana-theme-color-hover-primary: #4ea9ff;
  --nana-theme-color-hover-error: #eb5a36;
  --nana-theme-color-hover-warning: #e7a043;
  --nana-theme-color-hover-info: #448dd1;
  --nana-theme-color-hover-success: #52e071;

  --nana-component-color-white: #fff;
  --nana-component-color-black: #000;
  --nana-component-color-light-border: #bdbdbd;
  --nana-component-color-light-shadow: rgba(0,0,0,0.8);

  
  --nana-text-color-black: #000;
  --nana-text-color-content: #333;
  --nana-text-color-second: #7a7a7a;
}