$console-colors: (
  number: #6186f7,
  keyword: rgb(8, 94, 192),
  key: #d445f1,
  bigint: rgb(0, 92, 0),
  string: rgb(213, 92, 89),
);


.console-base {
  position: relative;
  height: 100%;

  .list {
    font-size: 13px;
    font-family: Consolas, 'Courier New', monospace;
  }
}

.console-base-font {
  font-size: 13px;
  font-family: Consolas, 'Courier New', monospace;
}
.console-item {
  position: relative;
  border-bottom: 1px solid var(--mx-editor-border-color);
  color: var(--mx-editor-light-text-color);  
  padding: 6px 12px;
  word-break: break-all;

  &.tiny {  
    padding: 1px 8px;
    font-size: 12px;
    border-bottom: none;
  }
  &.tiny2 {  
    padding: 0;
  }

  .icon {
    font-size: 14px;
    margin-right: 6px;
    vertical-align: top;
    flex-shrink: 0;
  }
  .tag {
    flex-shrink: 0;
  }

  .console-obj-detail {
    font-size: 12px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
  }

  .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .switch {
    display: inline-block;
    padding: 0 4px;
    font-size: 10px;
    transition: transform ease-in-out 0.3s;
    cursor: pointer;
    transform: rotate(0) scale(0.8);
    vertical-align: top;

    &.hidden {
      visibility: hidden;
    }
    &.open {
      transform: rotate(90deg) scale(0.8);
    }
  }

  .speical {
    font-style: italic;
    color: var(--mx-editor-background-light-second-color);
  }
  
  @each $key, $value in $console-colors {
    .#{$key} {
      color: $value;
    }
  }

  .src {
    float: right;
    cursor: pointer;
    vertical-align: top;
  }

  &.warp {
    white-space: pre-wrap;
  }


  &.warning {
    background-color: #a06800;
    border-bottom-color: #bd7b00;

    .tag {
      background-color: #cf8700;
    }
  }
  &.error {
    background-color: #991700;
    border-bottom-color: #b61b00;

    .tag {
      background-color: #d32000;
    }
  }
  &.info {
    background-color: #004e83;
    border-bottom-color: #0061a1;

    .tag {
      background-color: #0372bd;
    }
  }
}
.console-content-box {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  min-width: 200px;
}
.console-obj {
  position: relative;
  display: inline-block;
  font-size: 0;

  a {
    font-size: 12px;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
  }
}
.console-obj-item {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  span {
    font-size: 13px;
    display: inline-block;
  }
  .sp {
    margin: 0 3px 0 1px;
  }
}
.console-toolbar-left {
  font-size: 12px;
  margin-left: 10px;
}
.console-tag-item, .console-item .tag {
  background-color: var(--mx-editor-background-light-second-color);
  color: var(--mx-editor-text-color);
  border-radius: 4px;
  padding: 2px 6px;
  margin-right: 4px;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
}
.console-small-info-text {
  color: var(--mx-editor-drak-text-color);
  font-style: italic;
  font-size: 11px;
}

@each $key, $value in $console-colors {
  .console-obj-color-#{$key} {
    color: $value;
  }
}