
.dynamic-form-control {
  position: relative;
}
.dynamic-form-control-item {
  padding: 2px 6px;

  .error-message {
    color: '#f30';
  }

  label {
    color: #333;

    .colon {
      color: #333;
      margin-left: 3px;
      margin-right: 5px;
    }
    .required {
      color: '#f30';
      margin-right: 10px;
    }

  }

}