$custom-editor-base-color: rgba(104, 104, 104, 0.5);

//编辑器样式
.node-custom-editor {
  //输入框
  .nana-input,
  .node-simple-box,
  input[type="text"],
  input[type="password"], 
  textarea, 
  select {
    &:not(.nana-input-inner) {
      padding: 2px 5px;
      border: 1px solid transparent;
      background-color: $custom-editor-base-color;
      color: rgb(255, 255, 255);
      outline: none;
      border: none;
      border-radius: 6px;
      vertical-align: middle;    
      font-family: 'Microsoft Yahei', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 12px;

      svg {
        fill: #fff;
      }

      &::-webkit-input-placeholder {
        color: #bbbbbb;
      }

      &:disabled {
        background-color: rgba(75, 75, 75, 0.514);
        color: #919191;

        svg {
          fill: #919191;
        }
        input {
          color: #919191;
        }

        &:hover , &:active {
          background-color: #686868;
          color: #e7e7e7;
        }
      }

      &:hover , &:active {
        background-color: #fff;
        color: #000;

        input {
          color: #000;
        }
        svg {
          fill: #000;
        }
      }

      &.input-border {
        border: 2px solid transparent;
      }
      &.input-error {
        border: 2px solid #f76758!important;
      }
      &.input-warn {
        border: 2px solid #daa000!important;
      }
    }
  }

  //复选框
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0;
    border-radius: 3px;
    background-color: $custom-editor-base-color;
  }

  //结束图标
  .end-icon {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 0 0 0;
  }
}

//选择框
.node-checkbox {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border: 2px solid #777777;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #292929;

  &:hover {
    background-color:#777777;
  }
  &:active {
    background-color:#181818;
  }

  .checker {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 16px;
    height: 16px;
  }
  svg {
    fill: #fff;
  }
  &[disabled=disabled].svg {
    background-color:#8f8f8f;
    color: #e2e2e2;

    &:hover {
      background-color:#8f8f8f;
    }
  }

  &:active, &:hover {
    border-color: rgb(231, 157, 0);
  }
}