@import "./Scroll.scss";


//添加单元浮动菜单
.node-float-panel {
  background-color: var(--mx-editor-background-color);
  border: 1px solid var(--mx-editor-border-color-dark);
  border-radius: 5px;
  font-size: 1rem;
  position: absolute;
  min-width: 230px;
  padding: 15px 5px 15px 15px;
  box-shadow: 0 0 20px var( --mx-editor-shadow-color);
  color: var(--mx-editor-light-text-color);
  z-index: 65;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 0.8rem;

  > .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--mx-editor-border-color);
    user-select: none;
    padding-bottom: 6px;
    margin-bottom: 8px;

    span {
      font-size: 16px;
      font-weight: bold;
    }

    .close {
      padding: 3px;
      width: 10px;
      height: 10px;
      cursor: pointer;
      border-radius: 4px;
      fill: var(--mx-editor-text-color);

      &:hover {
        background-color: rgba(var(--mx-editor-text-color), 0.2);
      }
    }
  }

  @include pc-fix-scrollbar();

  > .input {
    position: relative;
    display: block;
    margin: 6px 0 ;

    input {
      width: calc(100% - 8px);
    }

    .small-button {
      position: absolute;
      top: 2px;
      right: 3px;
    }
  }
}