
.node-small-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  user-select: none;
  color: var(--mx-editor-text-color);
  cursor: pointer;
  padding: 2px 4px;
  border-radius: var(--mx-editor-border-radius-clickable);
  font-size: var(--mx-editor-font-size);

  &:hover:not(.disabled) {
    background-color: var(--mx-editor-background-light-four-color);
    color: var(--mx-editor-text-color);
  }

  .nana-icon {
    fill: currentColor;
  }

  &.text {
    .nana-icon {
      margin-right: 3px;
    }
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.node-small-input {
  display: inline-block;
  padding: 4px 6px;
  background-color: var(--mx-editor-background-light-second-color);
  color: var(--mx-editor-text-color);
  outline: none;
  border: none;
  border-radius: var(--mx-editor-border-radius-clickable);
  font-size: var(--mx-editor-font-size);

  &.fill {
    flex: 1;
  }

  &::-webkit-input-placeholder {
    color: var(--mx-editor-placeholder-text-color);
  }

  &:disabled {
    background-color: var(--mx-editor-background-light-third-color);
    color: var(--mx-editor-light-text-color);
  }

  &:hover, &:active, &:focus {
    background-color: var(--mx-editor-background-white-color);
    color: var(--mx-editor-text-color);
  }
}
.nana-tooltip {
  h6 {
    margin: 0 0 2px 0;
  }
  h5,
  h4 {
    margin: 0 0 3px 0;
  }
  h3,
  h2,
  h1 {
    margin: 0 0 5px 0;
  }

  p {
    font-size: 0.6rem;
    margin-bottom: 2px;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &.ignore-event {
    pointer-events: none;

    * {
      pointer-events: none;
    }
  }
}