
.node-small-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  user-select: none;
  color: var(--mx-editor-text-color);
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 12px;

  &:hover {
    background-color: #7e7e7e;
    color: var(--mx-editor-text-color);
  }

  .nana-icon {
    fill: currentColor;
  }

  &.text {
    .nana-icon {
      margin-right: 3px;
    }
  }
}
.node-small-input {
  display: inline-block;
  padding: 4px 6px;
  background-color: #686868;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 12px;

  &.fill {
    flex: 1;
  }

  &::-webkit-input-placeholder {
    color: #bbbbbb;
  }

  &:disabled {
    background-color: #4b4b4b;
    color: #919191;

    &:hover , &:active {
      background-color: #686868;
      color: #e7e7e7;
    }
  }

  &:hover, &:active, &:focus {
    background-color: #ffffff;
    color: #000;
  }
}
.nana-tooltip {
  h6 {
    margin: 0 0 2px 0;
  }
  h5,
  h4 {
    margin: 0 0 3px 0;
  }
  h3,
  h2,
  h1 {
    margin: 0 0 5px 0;
  }

  p {
    font-size: 0.6rem;
    margin-bottom: 2px;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}