.node-editor-centertip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-color: rgba(0,0,0,0.4);
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  z-index: 200;
  white-space: pre;
  font-size: 1rem;
  color: #535353;
  user-select: text;
  padding: 10px 18px;
}