.code-layout-split-base {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &.vertical {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    > .split-n-container {
      position: relative;
      width: 100%;
    }
    > .code-layout-split-dragger, > .split-n-container > .code-layout-split-dragger {
      width: 100%;
      height: var(--code-layout-border-size);
      cursor: ns-resize;

      &::after {
        left: 0;
        right: 0;
        top: calc(var(--code-layout-border-size-dragger) / -2);
        height: var(--code-layout-border-size-dragger);
        bottom: unset;
        width: unset;
      }

      &.inner {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &.horizontal {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    > .split-n-container {
      position: relative;
      height: 100%;
    }
    > .code-layout-split-dragger, > .split-n-container > .code-layout-split-dragger {
      width: var(--code-layout-border-size);
      height: 100%;
      cursor: ew-resize;

      &::after {
        top: 0;
        bottom: 0;
        left: calc(var(--code-layout-border-size-dragger) / -2);
        width: var(--code-layout-border-size-dragger);
      }

      &.inner {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }


  > .code-layout-split-dragger, > .split-n-container > .code-layout-split-dragger {
    position: relative;
    height: 100%;
    width: var(--code-layout-border-size);
    background-color: var(--code-layout-color-border-background);
    cursor: ns-resize;
    user-select: none;
    overflow: visible;

    &::after {
      position: absolute;
      content: '';
      transition: background-color ease-in-out 0.2s;
      z-index: 10;
    }

    &.resize:hover, &.active {
      &::after {
        background-color: var(--code-layout-color-highlight);
      }
    }
  }
}

.code-layout-split-tab {
  position: relative;
  width: 100%;
  height: 100%;

  --tab-height: 35px;
  --tab-text-color: var(--code-layout-color-text);
  --tab-active-text-color: var(--code-layout-color-text-light);
  --tab-mormal-color: var(--code-layout-color-background-light);
  --tab-active-color: var(--code-layout-color-background);
  --tab-border-color: var(--code-layout-color-background-second);
  --tab-button-normal-color: transparent;
  --tab-button-hover-color: var(--code-layout-color-background-hover-light);
}
.code-layout-split-tab-list {

  display: block;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  height: var(--tab-height);

  &::before {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    z-index: 0;
    background-color: var(--tab-border-color);
  }
  &::-webkit-scrollbar{
    display: none;
  }

  &.drag-active {
    background-color: var(--code-layout-color-background-hover);
  }

  .tabs {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 0.25s;
    height: 100%;

    .item {
      flex: 1;
      position: relative;
      display: inline-flex;
      padding: 0px 10px;
      cursor: pointer;
      color: var(--tab-text-color);
      background-color: var(--tab-mormal-color);
      border: 1px solid transparent;
      border-bottom-color: var(--tab-border-color);
      justify-content: center;
      align-items: center;
      height: 100%;
      vertical-align: middle;

      &.drag-active::after {
        background-color: var(--code-layout-color-background-mask-light);
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      .icon {
        display: inline-block;
        padding: 0;
      }
      .close {
        text-decoration: none;
        color: var(--tab-text-color);
        user-select: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        padding: 0;

        &:hover {
          background-color: var(--tab-button-hover-color);
        }

        .close-icon {
          visibility: hidden;
        }
        .unsave-dot, .close-icon {
          width: 14px;
          height: 14px;
        }
      }

      span {
        display: inline-block;
        padding: 0 6px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      &:hover { 
        .close-icon {
          visibility: visible;
        }
      }
  
      &.active {
        background-color: var(--tab-active-color);
        border-bottom-color: var(--tab-active-color);
        border-right-color: var(--tab-border-color);
        border-left-color: var(--tab-border-color);
        border-top-color: var(--tab-border-color);

        &::before {
          position: absolute;
          display: inline-block;
          content: '';
          width: 100%;
          bottom: -1px;
          left: 0;
          background-color: var(--tab-border-color);
        }
        .close {
          color: var(--tab-active-text-color);
        }
        .close-icon {
          visibility: visible;
        }
      }    
    }
  }
}
.code-layout-split-tab-content {
  position: absolute;
  top: var(--tab-height);
  left: 0;
  right: 0;
  bottom: 0;

  &.dragging * {
    pointer-events: none;
  }
  &.drag-active::before {
    position: absolute;
    content: '';
    background-color: var(--code-layout-color-background-mask-light);
  }

  &.drag-over-center {
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &.drag-over-left {
    &::before {
      top: 0;
      bottom: 0;
      left: calc(var(--code-layout-border-size-larger) / 2 * -1);
      right: 50%;
    }
  }
  &.drag-over-up {
    &::before {
      top: calc(var(--code-layout-border-size-larger) / 2 * -1);
      bottom: 50%;
      left: 0;
      right: 0;
    }
  }
  &.drag-over-right {
    &::before {
      top: 0;
      bottom: 0;
      right: calc(var(--code-layout-border-size-larger) / 2 * -1);
      left: 50%;
    }
  }
  &.drag-over-down {
    &::before {
      top: 50%;
      left: 0;
      right: 0;
      bottom: calc(var(--code-layout-border-size-larger) / 2 * -1);
    }
  }
}

