@import "./Root.scss";

.code-layout-split-base {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &.vertical {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    > .code-layout-split-dragger {
      width:100% ;
      height: var(--code-layout-color-border-size);
      cursor: ns-resize;

      &::after {
        left: 0;
        right: 0;
        top: calc(var(--code-layout-color-border-size-dragger) / -2);
        height: var(--code-layout-color-border-size-dragger);
        bottom: unset;
        width: unset;
      }
    }
  }
  &.horizontal {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    > .code-layout-split-dragger {
      width: var(--code-layout-color-border-size);
      height: 100%;
      cursor: ew-resize;

      &::after {
        top: 0;
        bottom: 0;
        left: calc(var(--code-layout-color-border-size-dragger) / -2);
        width: var(--code-layout-color-border-size-dragger);
      }
    }
  }

  > .code-layout-split-dragger {
    position: relative;
    height: 100%;
    width: var(--code-layout-color-border-size);
    background-color: var(--code-layout-color-border-background);
    cursor: ns-resize;
    user-select: none;
    overflow: visible;

    &::after {
      position: absolute;
      content: '';
      transition: background-color ease-in-out 0.2s;
      z-index: 10;
    }

    &.resize:hover, &.active {
      &::after {
        background-color: var(--code-layout-color-highlight);
      }
    }
  }
}