

.flow-block-host {
  display: inline-block;
  position: absolute;
  overflow: visible;
  width: 1px;
  height: 1px;
  background-color: transparent;


}
.flow-block {
  display: inline-block;
  position: absolute;
  cursor: default;

  border-radius: 8px;
  border: 3px solid transparent;

  &:hover, &.selected {
    border: 3px solid #2ec4ff;
  }
  &.selected {
    background-color: rgba(255,255,255,0.3);
  }

  .title {
    position: relative;
    text-align: center;
    background-color: #45b4f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px 8px;
    font-size: 13px;
    user-select: none;

    .sub-title {
      display: block;
      font-size: 12px;
      color: #888;
      user-select: none;
    }

    .logo {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    .logo-right {
      position: absolute;
      display: inline-block;
      width: 32px;
      height: 32px;
      right: -15px;
      top: -15px;
    }
    .logo-bottom {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      left: -5px;
      bottom: -5px;
    }
  }
  .content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 6px 3px;
    background-color:rgba(183, 219, 232, 0.74);
  }

  .area {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .ports {
      position: relative;
      display: inline-block;

      &.input {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 10px;
      }
      &.output {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-left: 10px;
      }



    }
  }

  .port {
    white-space: nowrap;

    .port-dot {
      font-size: 12px;
      margin: 0 5px;
      cursor: crosshair;

      &:hover {
        color: #45b4f5;
      }
      &:active {
        opacity: 0.7;
      }
    }
    span {
      white-space: nowrap;
      font-size: 13px;
    }
  }


}