@import "./utilities.scss";
@import "small-widgets";

body, html{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Microsoft YaHei UI;
  font-weight: normal;
  font-size: 14px;
}
body {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 25px;
}

.crashed {

  width: calc(100% - 50px);
  height: calc(100% - 50px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


  img { 
    width: 100px;
  }
  h4 {
    margin: 50px 0 10px 0;
  }
  span {
    font-size: 14px;
    color: #888;
  }
  .links {
    padding: 15px;

    a {
      display: inline-block;
      padding: 5px 8px;
      background-color: #e7e7e7;
      border-radius: 4px;
      transition: all ease-in-out 0.25s;
      text-decoration: none;

      &:hover {
        background-color: #0073d1;
        color: #fff;
      }
    }
  }

}
