@import './root';
@import './scroll';

.editor-toolbar {
  position: absolute;
  border-right: none;
  width: $left-toolbar-width;
  top: 30px;
  bottom: 0;
  left: 0;
  background: #2F2F2C;
  z-index: 4;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  user-select: none;
  z-index: 100;
  overflow: hidden;

  > div {
    width: $left-toolbar-width;
    height: $left-toolbar-width;
    line-height: $left-toolbar-width;
  }
  .button {
    text-align: center;
    display: inline-block;
    padding: 1px 8px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    color: #b6b6b6;

    &.icon {
      width: $left-toolbar-width;
      height: $left-toolbar-width;
      font-size: 23px;
    }

    &:hover {
      color: #fff;
    }
    &.active {
      color: #000000;
      background-color: #fff;
    }
    &:focus {
      opacity: 0.8;
    }

    &.yellow {
      color: #ffa600;

      &:hover {
        color: #eccc72;
      }
    }
    &.red {
      color: #ff5200;

      &:hover {
        color: #fd7536;
      }
    }
    &.green {
      color: #39c300;

      &:hover {
        color: #7ce64f;
      }
    }
    &.blue {
      color: #307bdd;

      &:hover {
        color: #74a4e4;
      }
    }

    &.disabled, &[disabled] {
      cursor: default!important;
      opacity: 1;
      background-color: transparent!important;

      &.icon i {
        color: #505050;
      }
    }
  }
  .separator {
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 4px 3px 0 3px;
    background-color: #353535;
  }
  .block {
    display: inline-block;
    padding: 1px 8px;
  }
}

.editor-main {
  display: block;
  position: absolute;
  left: $left-toolbar-width;
  right: 0;
  bottom: 0;
  top: $top-menu-height;
  overflow: hidden;
  border: solid #444 1px;

  .editorCanvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(38,38,38);
  }
  .editor {
    display: block;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  .prop {
    position: absolute;
    background-color: rgb(59, 59, 59);
    color: #b6b6b6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .prop-item {
      white-space: nowrap;
      position: relative;
      padding: 3px 2px 5px 0;
      border-bottom: 1px solid #464646;

      > .prop-item-editor {
        display: inline-block;
        width: 60%;
      }
      > span {
        display: inline-block;
        width: 40%;
        text-align: right;
        padding-right: 10px;
        vertical-align: top;
      }
    }
    .prop-header {
      background-color: #2b2b2b;
      white-space: nowrap;
      position: relative;
      padding: 6px 2px 5px 15px;
      border-bottom: 1px solid #464646;
      color: #b1b1b1;
      font-weight: bold;
      font-size: 14px;
    }

  }

  .ivu-split-trigger {
    background: #4c4c4c;
    border: 1px solid #2f2f2f;

    .ivu-split-trigger-bar {
      background: rgba(255, 255, 255, 0.47);
    }
  }
}

.editor-intro {
  position: absolute;
  z-index: 200;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all ease-in-out 0.3s;

  > h1 {
    display: inline-block;
  }

  &.show {
    opacity: 1;
  }
}

//可折叠列表
.collapse-list {
  position: relative;
}
.collapse-item {
  display: block;
  padding: 1px 1px 1px 7px;

  .block-list {
    margin-left: 13px;
    margin-top: 2px;
  }

  .collapse-title {
    user-select: none;
    cursor: pointer;

    i {
      transition: transform ease-in-out 0.2s;
    }

    &:hover {
      color: rgb(69,180,245);

      i {
        color: rgb(69,180,245);
      }
    }
  }
  .collapse-arrow {
    color: #000;
    margin-right: 3px;
  }
}


//属性列表
.prop-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 15px;

  overflow: hidden;
  overflow-y: scroll;

  @include pc-fix-scrollbar-white();

  input, textarea, select, .prop-box {
    display: inline-block;
    padding: 2px 5px;
    background-color: #686868;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 6px;

    &::-webkit-input-placeholder {
      color: #bbbbbb;
    }

    &:disabled {
      background-color: #4b4b4b;
      color: #919191;

      &:hover , &:active {
        background-color: #686868;
        color: #e7e7e7;
      }
    }

    &:hover , &:active {
      background-color: #fff;
      color: #000;
    }
  }
}
.prop-list {
  position: relative;

  .prop-list-item {
    position: relative;
    padding: 4px 5px;
    background-color: #575757;
    margin: 3px;
    border-radius: 8px;

    a {
      color: #b3b3b3;
      padding: 2px 5px;
      background-color: #292929;
      border-radius: 6px;

      &:hover, &:focus {
        color: #000;
        background-color: #fff;
      }
    }

    .prop-delete {
      display: inline-block;
      position: absolute;
      font-size: 16px;
      height: 20px;
      line-height: 16px;
      color: #c70000;
      right: 3px;
      bottom: 3px;
      background-color: #cccccc;

      &:hover {
        color: #ff4b4b;
      }
    }
    .prop-item {
      padding: 2px 2px 0 0;
      border-bottom: none;

      input, textarea, select {
        background-color: #d1d1d1;
        color: #333333;

        &:hover , &:active {
          background-color: #fff;
          color: #000;
        }
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.253);
    }
  }
}

//添加单元浮动菜单
.block-add-panel {
  position: absolute;
  min-width: 230px;
  background: white;
  padding: 7px 0;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  z-index: 25;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 8px 4px;

  @include pc-fix-scrollbar-white();
}
.block-list {
  position: relative;

  .block-item {
    display: block;
    padding: 0px 13px;
    margin-left: -8px;
    cursor: default;

    img, .logo {
      display: inline-block; 
      width: 20px;
      height: 20px;
      margin-right: 5px;
      vertical-align: middle;
    }

    h5 {
      font-size: 14px;
    }
    span {
      font-size: 12px;
      color: #888;
    }

    &:hover {
      background-color: rgba(183, 219, 232, 0.74);
    }
    &:active {
      opacity: 0.7;
    }
  
  }

}

.common-tip {
  position: absolute;
  padding: 2px 5px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0 3px 3px 3px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  z-index: 2000;
}

//调整缩放工具
.zoom_tool {

  position: absolute;
  width: 90px;
  height: 26px;
  right: 40px;
  bottom: 25px;
  border-radius: 15px;
  background-color: #2F2F2C;
  opacity: 0.4;
  transition: opacity ease-in-out 0.2s;
  text-align: center;

  &:hover, &:active {
    outline: none;
    opacity: 1;
  }

  a {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #fff;
    padding: 0;
    font-size: 16px;
    top: 1px;
    line-height: 24px;

    &.left { left: 1px; }
    &.right { right: 1px; }

    &:hover {
      color: #2F2F2C;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  select {
    position: absolute;
    opacity: 0;
    left: 28px;
    top: 4px;
    width: 35px;
    cursor: pointer;
    z-index: 2;
  }
  span {
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 15px;
    width: 35px;
    line-height: 15px;
    left: 28px;
    top: 6px;

    color: #fff;
    cursor: pointer;
  }

}

//编辑器面包屑
.editor-breadcrumb {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 14px;
  vertical-align: middle;

  > div {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
    text-decoration: none;
    transition: color .2s cubic-bezier(.645,.045,.355,1);
    color: #b9bcc4;

    &.current {
      background-color: #262626;
    }

    a {
      color: #b9bcc4;

      &:hover, &:focus {
        color: #fff;
      }
    }

    &::after {
      display: inline-block;
      content: '/';
      margin: 0 6px;
      font-weight: 400;
      color: #c0c4cc;
    }

    &.last::after {
      display: none;
    }
  }
}

.check-input {
  white-space: normal;

  input {
    border: 1px solid transparent;
  }

  .error-text {
    display: none;
    margin-top: 3px;
    color: #f76758;
  }

  &.error {

    input {
      border: 1px solid #f76758;
      color: #ff503c;
    }

    .error-text {
      display: inline-block;
    }
  }
}
.input-border {
  border: 1px solid transparent;
}
.input-error {
  border: 1px solid #f76758!important;
}
.input-warn {
  border: 1px solid #daa000!important;
}