@import './root';

.menu_bar {
  padding: 0 0 0 50px;
  background: #2f2f2c;
  position: relative;
  z-index: 2;
  height: $top-menu-height;

  > .menu {
    height: $top-menu-height;
  }
}
.menu {
  position: relative;
  z-index: 5;
  color: #333;
  display: inline-block;

  &.open {
    .menu_title {
      background: white;
      color: #333;
    }
    .menu_list {
      display: block;
    }
  }

  .menu_list {
    display: none;
    position: absolute;

    .menu_item {
      position: relative;
      overflow: hidden;
      line-height: 22px;
      padding: 5px 69px 5px 25px;
      cursor: default;
      color: #333;

      i {
        position: absolute;
        display: inline-block;
        left: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        font-size: 17px;
      }

      &.disabled {
        opacity: 0.5;
        cursor: default;
      }

      &:hover:not(.disabled) {
        background: rgba(0,0,0,0.1);
        color: #000;
      }

      span {
        display: block;
        position: absolute;
        right: 10px;
        padding: 5px;
        background: rgba(0,0,0, 0.1);
        top: 6px;
        text-align: center;
        font-size: 10px;
        line-height: 120%;
      }
    }
    .separator {
      margin: 5px 0;
      border-top: solid #ddd 1px;
    }
  }
}
.menu_title {
  cursor: pointer;
  display: inline-block;
  padding: 7px 10px;
  z-index: 10;
  color: #fff;
  position: relative;
  vertical-align: top;
}
.menu_list {
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  white-space: nowrap;
  background: white;
  padding: 7px 0;
  border-radius: 0 3px 3px 3px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}