
.text-error {
  color: rgb(228, 27, 0);
}
.text-success {
  color: rgb(20, 160, 50);
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.display-inline {
  display: inline;
}

.text-warp {
  white-space: normal;
}