.display-none {
  display: none;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.display-inline {
  display: inline;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-warp {
  white-space: normal;
}

.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}